.popup{
    color: #ffffffb1;
    font-weight: 1px;
    font-style: italic;
    font-size: 1.3em;
    position: fixed;
    background-image: linear-gradient(220deg,hsl(159, 71%, 70%), hsl(158, 34%, 35%));
    border-radius: 90px;
    border-top-right-radius: 0;
    left: 25%;
    right: 33%;
    top: 25%;
    width: 50%;
    height: 45%;
    z-index: 300;
    text-align: center;
    display:none;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
}
.popup li input{
    justify-content: center;
    color: white;
    height: 3vh;
    width: 20vw;
    background-color: hsla(159, 71%, 70%, 0);
    border: 0px solid #ffffff69;
    border-bottom: 1px solid #ffffff69 ;
}
.popup li input::placeholder{
    color: #ffffff69;
}
.popup ul{
    display: grid;
    justify-content: center;
    list-style-type: none;
    align-self: center;
    align-content: center;
}

.popup button{
    position: relative;
    background-image: linear-gradient(220deg,hsl(159, 71%, 70%), hsla(157, 34%, 51%, 0.64));
    border-radius: 90px;
    height: 5vh;
    top: 0vh;
    right: -20vw;
    width: 10vw;
    border: 0px hsl(159, 71%, 70%) solid;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.popup button:hover{

    cursor: pointer;
    background-image: radial-gradient(hsl(159, 71%, 70%) 30%, hsl(158, 34%, 35%) 95%);
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
}

.overlay{
    position: fixed; 
    display: none; 
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 20; 
    cursor: pointer;
}