.crestPhoto{

    position: fixed;
    background-image: linear-gradient(220deg,hsl(159, 71%, 70%), hsl(158, 34%, 35%));
    border-radius: 90px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
    border-top-right-radius: 0;
    width: 6vw;
    height: 11vh;
    top:10vh;
    right: 1vw;
    z-index: 10;

}
.crestPhoto h1{
    position: relative;
    margin-top: 0.9vh;
    margin-left: 0.9vw;
    color: white;
    font-size: 5.7em;
}
.crestPhoto h1:hover{
    cursor: pointer;
}

.crestPhoto:hover{
    transform: scale(1.2);
    transition: 
      transform 0.4s ease; 
}