.node__root > circle {
  fill: hsl(159, 43%, 59%)
}

.node__branch > circle {
  fill: hsl(159, 43%, 59%)
}

.node__leaf > circle {
  fill: hsl(159, 43%, 59%)
}
.rd3t-tree-container{
  transform-origin: 100px 500px;
  transform-box: view-box;
  background-color:rgba(217, 217, 217, 0.084);
}
.node__root{
  font-size: 0.7em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
  font-weight: 10 !important;
  font-style: normal;  text-decoration: none;
}

.node__branch{
  font-size: 0.7em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 10 !important;
  font-style: normal;  text-decoration: none;
}

.node__leaf {
  font-size: 0.7em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
  font-weight: 10 !important;
  font-style: normal;  text-decoration: none;
}
.rd3t-link {
  stroke: #303030 !important;          /* ← your desired color, e.g. blue */
  stroke-width: 2.5px;      /* optional: adjust thickness */
  fill: none;               /* usually already none, but good to be explicit */
}