

.node__root > circle {
  fill: hsl(159, 43%, 59%)
}

.node__branch > circle {
  fill: hsl(159, 43%, 59%)
}

.node__leaf > circle {
  fill: hsl(159, 43%, 59%)
}
.rd3t-tree-container{
  position: relative;
  z-index: 1;
  background-image: radial-gradient(hsl(0, 0%, 100%)0%, hsl(0, 0%, 95%));
}
.node__root{
  font-size: 0.7em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
  font-weight: 10 !important;
  font-style: normal;  text-decoration: none;
}

.node__branch{
  font-size: 0.7em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 10 !important;
  font-style: normal;  text-decoration: none;
}

.node__leaf {
  font-size: 0.7em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
  font-weight: 10 !important;
  font-style: normal;  text-decoration: none;
}
.rd3t-link {
  stroke: #303030 !important;          /* ← your desired color, e.g. blue */
  stroke-width: 2.5px;      /* optional: adjust thickness */
  fill: none;               /* usually already none, but good to be explicit */
}
.branch-link {
  stroke: #0022ff;          /* brown branch color */
  stroke-width: 2.2px;
  stroke-linecap: round;    /* softer ends */
  fill: none;
}