.hierachyTree{
    width: 84.5vw;
    height: 85.5vh;
    position: relative;
    left: 15vw;

}
#textViewTree{
    display: none ;
}
#cardViewTree{
    display: block ;
}
.treeLinks{
    stroke: #4a90e2;             /* blue for normal branches */
    stroke-width: 2.5px;
}
