.hierachyTree{
    width: 99vw;
    height: 85vh;
}
#textViewTree{
    display: none ;
}
#cardViewTree{
    display: block ;
}
.treeLinks{
    stroke: #4a90e2;             /* blue for normal branches */
    stroke-width: 2.5px;
}
