.rootDiv{
    background-color: hsl(147, 100%, 98%);
    width: 100%;
    display: grid;
}

.rootDiv div{
    border: 1px black solid;
}

.tf-tree .tf-nc{
    border: none ! important;
    padding: 0 ! important;
}
.tf-tree .tf-nc::before{
    border-left-style: dashed !important;
}

.tf-tree li li:before {

}
.tf-tree li ul{

}
.tf-tree *{
    padding: 0;
    box-sizing:inherit
}
.tf-tree{
    margin-top: 2vw !important;
    margin-left: 35% ;
}
